[fips_sect]
activate = 1
install-version = 1
conditional-errors = 1
security-checks = 1
module-mac = 2E:07:36:5B:A5:12:8B:F4:97:9A:BF:ED:FD:6C:53:41:77:0C:9F:A5:BB:EF:7C:41:A7:68:2D:2B:B3:4E:B4:DB
tls1-prf-ems-check = 1
no-short-mac = 1
drbg-no-trunc-md = 1
signature-digest-check = 1
dsa-sign-disabled = 1
hkdf-digest-check = 1
tls13-kdf-digest-check = 1
tls1-prf-digest-check = 1
sshkdf-digest-check = 1
sskdf-digest-check = 1
x963kdf-digest-check = 1
tdes-encrypt-disabled = 1
rsa-pkcs15-pad-disabled = 1
rsa-pss-saltlen-check = 1
rsa-sign-x931-pad-disabled = 1
hkdf-key-check = 1
kbkdf-key-check = 1
tls13-kdf-key-check = 1
tls1-prf-key-check = 1
sshkdf-key-check = 1
sskdf-key-check = 1
x963kdf-key-check = 1
x942kdf-key-check = 1
pbkdf2-lower-bound-check = 1
ecdh-cofactor-check = 1
hmac-key-check = 1
kmac-key-check = 1
